@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap');

body {
    padding: 0;
    margin: 0;
}

:root {
    --my-orange: rgb(252, 125, 7);
    --my-red: rgb(220, 53, 69);
    --my-green: rgb(41, 168, 41);
}

h2 {
    margin: 1rem 0;
    margin-bottom: 3rem;
    font-family: 'Abril Fatface', cursive;
}

input[type="checkbox"] {
    transform:scale(1.5);
    margin-right: 1rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#note {
    color: darkgray;
    font-size: 1.4rem;
}

#delete {
    color: var(--my-red);
    text-align: center;
    margin-top: 10rem;
}

@media (max-width: 1023px) {
    
    h2 {
        padding: .5rem;
        text-align: left;
        margin: 0;
        margin-bottom: 3rem;
    }

    button.menu {
        float: right;
        border-radius: 0;
        margin: .5rem .5rem;
    } 

    #sidebar {
        width: auto;
        background-color:rgb(212, 211, 208);
        list-style-type: none;
        font-size: 1rem;
        padding: 1rem;
        color: black;
    }

    input[type="checkbox"] {
        transform:scale(1.25);
    }

    #main-content {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        font-family: sans-serif;
    }

    #note {
        font-size: 1rem;
    }

    .form-group {
        padding: .5rem;
    }

    #delete {
        margin-top: 5rem;
        text-align: left;
    }
}

@media (min-width: 1024px) {

    #sidebar {
        height: 100%;
        width: 23%;
        position: fixed;
        text-align: center;
        background-color:rgb(225, 225, 220);
        list-style-type: none;
        font-size: 1.5rem;
        padding: 25px;
    }

    #sidebar a {
        font-size: 1.5rem;
    }

    #main-content {
        width: 55%;
        text-align: center;
        margin-left: 31%;
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
    }

    .form-group *, .btn {
        font-size: 1.5rem;
    }

}   

.offcanvas-body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

.form-group {
    margin-bottom: 2rem;
    font-family: 'Duru Sans', sans-serif;
}

.form-text {
    font-size: 1rem;
}

.form-check label {
    float: left;
}

.icons a {
    font-size: 1.3rem;
}

div.container-fluid a:hover, #link:hover {
    text-decoration: underline;
}

.offcanvas-body a.btn {
    color: rgb(41, 168, 41);
    font-weight: bold;
}

.offcanvas-body a.btn:hover {
    background-color: var(--my-green);
    color: rgb(212, 211, 208);   
}

.info {
    font-family: 'Times New Roman', Times, serif;
}

#created {
    font-family: 'Times New Roman', Times, serif;
    color: burlywood;
    font-size: 1.2rem;
}

.completed {
    margin: 5rem 0;
    text-align: left;
}

.completed a, s {
    color: darkgray;
    font-weight: lighter;
    font-family: 'Stardos Stencil', cursive;
}

.delete {
    color: var(--my-red);
    border: 1px var(--my-red) solid;
}

#delete:hover, .delete:hover {
    background-color: var(--my-red);
    color: white;
}

.incomplete {
    text-align: left;
}

.incomplete a, .to-do a {
    font-weight: normal;
    color: black;
    font-family: 'Stardos Stencil', cursive;
}

.options  {
    margin: 5em 0;
}

.edit {
    color: var(--my-orange);
    border: 1px var(--my-orange) solid;
    background-color: white;
}

.edit:hover {
    background-color: var(--my-orange);
    color: white;
}

.extra {
    margin-left: 1.7rem;
}
