{% load bootstrap4 %}

<!doctype html>
<html lang="en">
   
    <head> 
        <meta charset="utf-8">
        <meta name="viewport"  content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <title> To-dos </title>
             
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        
        <!-- Base CSS -->
        <link rel="stylesheet" href="/static/css/base.css" type="text/css">

        <!--HTMX-->
        <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    </head>

    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'> 
       
        <button class="menu btn btn-outline-success d-lg-none py-0 px-2" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive"> <i class="bi bi-list"></i></button>
  
        <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <div class="container" id="sidebar">
                    <h2> Menu </h2>
                    <a class="btn btn-outline" href="{% url 'mytodo:home' %}"> Home </a> <br>
                    <a class="btn btn-outline" href="{% url 'mytodo:add-todo' %}"> Add To-do </a>
        
                    <div>
                        <br>
                        {% if user.is_authenticated %}
                            <p> Hello, {{ user|title }} </p>
                            <li>  <a class="btn btn-outline" href="{% url 'account:logout' %}"> Log Out</a> </li>
                        {% else %}
                            <p> Hello there. </p>
                            <li> <a class="btn btn-outline" href="{% url 'account:login' %}"> Log In</a> </li>
                            <li> <a class="btn btn-outline" href="{% url 'account:register' %}"> Sign Up </a> </li> 
                        {% endif %} 
                    </div>
                    {% if user.is_authenticated %}
                        <div class="my-2">
                            <a class="btn btn-outline p-1" id="delete" hx-delete="{% url 'account:delete' user.pk %}" 
                            hx-confirm="This action will delete your account and all your to-dos."> Delete account</a>
                        </div>
                    {% endif %}
                </div> 
            </div>
        </div>
           
        <div id="main-content">
            {% block page_header %}
            {% endblock %}

            <div class="body mt-5">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </body>

</html>