{% extends 'mytodo/base.html' %}


{% block page_header %}
<h2> Completed To-dos <span class="material-symbols-outlined" style="color:limegreen;"> done_outline </span> </h2> 
{% endblock %}


{% block content %}
<form action="" method="post">
    {% csrf_token %} 
    {% for todos in todos %}
        <div class="container-fluid border-bottom mb-3">
            <input type="checkbox" class="m-1" checked/>
            <a href="{% url 'mytodo:detailpage' todos.pk %}"> <s style="color: rgb(60, 57, 57);"> {{ todos|capfirst }}</s> </a>
            <div style="margin-left:1.7rem;"> 
                {% if todos.note != '' %}
                    <div class="note">{{ todos.note|capfirst|truncatewords:12 }} </div>
                {% endif %}
                <div class="icons mt-2">
                    <a class="fa fa-pencil-square-o" style="color: rgb(252, 125, 7);" href="{% url 'mytodo:edit-todo' todos.pk %}"> </a> 
                    <a style="color: tomato;" href="{% url 'mytodo:delete-todo' todos.pk %}"> <i class="bi-trash mx-2"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
</form>

{% endblock %}
