{% extends 'mytodo/base.html' %}
{% load bootstrap4 %}


{% block page_header %}
<h2> Delete To-do</h2>
{% endblock %}


{% block content %}
<p> Do you want to delete this to-do? </p>
<form action="" method="post">
    {% csrf_token %}
    {% if todo.completed %}
        <p> <input type="checkbox" value="clicked" name="checked{{ todo.pk }}" checked />
            <s style="color: rgb(0, 0, 0);"> <b> {{ todo|capfirst }} </b> </s> </p>
    {% else %}   
        <p> <b> {{ todo }} </b> </p>
    {% endif %}
    {% if todo.note != '' %}
        <div style="color:darkgrey"> Note: {{ todo.note|capfirst }} </div>
    {% endif %} 
    <p class="mt-5">
        <input class="btn btn-danger px-3" type="submit" value="Delete"/> 
        <a style="color: darkgrey;" class="btn btn-outline-secondary px-3 mx-3" href="{{ todo.get_absolute_url }}">Cancel</a> </p>
</form>

{% endblock %}

