{% extends 'mytodo/base.html' %}

{% block page_header %}
<h3> To-do </h3>
{% endblock %}

{% block content %}
<div class="mt-2">
    {% if todo.completed %} 
        <p> <input type="checkbox" value="clicked" name="checked{{ todos.pk }}" checked />
            <s style="color: rgb(0, 0, 0);"> <b> {{ todo|capfirst }} </b> </s> </p>
    {% else %}   
        <p> <b> {{ todo }} </b> </p>
    {% endif %}
    
    {% if todo.note != '' %}
        <p style="color:rgb(207, 160, 115)"> Note: {{ todo.note|capfirst }} </p>
    {% endif %} 

    <p> Status: {% if todo.completed %}Completed {% else %} Incomplete {% endif %} </p>

    <span style="color:rgb(126, 105, 105);"> <br> created: {{ todo.date_created|timesince }} ago </span> 
    
    <div class="mt-5">
        <a class="btn btn-outline p-1" style="color: rgb(252, 125, 7);" href="{% url 'mytodo:edit-todo' todo.pk %}"> Edit</a> 
        <a class="btn btn-outline p-1 mx-4" style="color:tomato ;" href="{% url 'mytodo:delete-todo' todo.pk %}">Delete </a>
    </div>
</div>
{% endblock %}

