{% extends 'mytodo\base.html' %}

{% block page_header %}
<h3> To-do </h3>
{% endblock %}

{% block content %}

<style> input[type="checkbox"]{
    transform:scale(1.9, 1.9);
}</style>

<div class="mt-5" style="font-size: xx-large;">
    {% if todo.completed == True %} 
        <input type="checkbox" value="clicked" name="checked{{todos.pk}}" class="mr-2" checked />
        <s style="color: rgba(0, 0, 0, 0.541);"> <b> {{todo}} </b> </s> <span style="color:limegreen; font-size: xx-large;" class="material-icons"> task_alt </span>
{% else %}   
    
    <span style="color: black;"> <b> {{todo}} </b> </span>
{% endif %}
    
    <span style="color:rgba(126, 105, 105, 0.774); font-size: 25px;"> - {{todo.date_created|timesince}} ago </span> 
    <div>
        {% if todo.note != '' %}
            <div  style="color:rgb(207, 160, 115)"> Note: {{ todo.note}} </div>
        {% endif %} 
        <div style="margin-top: 5%;">
            <a style="color: rgba(252, 125, 7, 0.753);" href="{% url 'mytodo:edit-todo' todo.pk %}"> Edit</a> 
            <a style="color:red;  margin-left: 8px;" href="{% url 'mytodo:delete-todo' todo.pk %}">Delete </a>
        </div>  
    </div>
{% endblock %}

<input type="checkbox" value="clicked" name="checked{{todos.pk}}" class="mr-2 material-icons-outlined" checked />
<input type="checkbox" value="clicked" name="checked{{todos.pk}}" class="mr-2"/>