{% extends 'mytodo/base.html' %}


{% block page_header %}
<h2> Your To-do </h2>
{% endblock %}


{% block content %}
<div>
    {% if todo.completed %} 
        <p> <input type="checkbox" class="m-1" name="checked{{ todos.pk }}" value="clicked" checked />
            <s style="color: rgb(0, 0, 0);"> <b> {{ todo|capfirst }} </b> </s> </p>
    {% else %}   
        <p> <b> {{ todo }} </b> </p>
    {% endif %}
    
    {% if todo.note != '' %}
        <p style="color:darkgrey"> Note: {{ todo.note|capfirst }} </p>
    {% endif %} 

    <p> Status: {% if todo.completed %}Completed {% else %} Incomplete {% endif %} </p>

    <span style="color:rgb(207, 152, 152);"> <br> created: {{ todo.date_created|timesince }} ago </span> 
    
    <div class="mt-5">
        <a class="btn btn-outline p-1" style="color: rgb(252, 125, 7);" href="{% url 'mytodo:edit-todo' todo.pk %}"> Edit</a> 
        <a class="btn btn-outline p-1 mx-4" style="color:tomato ;" href="{% url 'mytodo:delete-todo' todo.pk %}">Delete </a>
    </div>
</div>
{% endblock %}

