{% extends 'mytodo/base.html' %}


{% block page_header %}
<h2> To-dos </h2> 
{% endblock %}


{% block content %}
<div class="info mb-3">
    {% if todo_count %}
        <p> <b> {{ todo_count }} </b>  Incomplete to-do(s). </p>
    {% endif %}
</div>

<div class="incomplete">
    {% for todo in incomplete_todos %}
        <div class="border-bottom mb-3 container-fluid">
            <form action="" method="post">
                {% csrf_token %} 
                <input type="checkbox" hx-post="."class="m-1" name="{{ todo.pk }}" value="check" />
                <a href="{{ todo.get_absolute_url }}"> {{ todo|capfirst }} </a> 
            </form>

            <div class="extra">
                {% if todo.note != '' %}
                <div class="info" id="note"> {{ todo.note|capfirst|truncatewords:12 }} </div>
                {% endif %} 
                <div class="icons mt-2">
                    <a class="" style="color: rgb(252, 125, 7);" href="{% url 'mytodo:edit-todo' todo.pk %}">
                        <i class="bi bi-pencil-square mx-2"></i></a> 
                    <a class="text-danger" href="{% url 'mytodo:delete-todo' todo.pk %}" hx-delete="{% url 'mytodo:delete-todo' todo.pk %}"
                        hx-confirm="Delete this to-do?"> <i class="bi-trash mx-2"></i></a> 
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% if completed_todos %}
    <div class="completed">
        <h4 class="info mx-2">Completed <span style="float: right;" id="del-x" class="btn btn-outline-danger " hx-delete="." hx-confirm="Delete completed to-dos?">Delete all </span></h4> <br>
        {% for todo in completed_todos %}
            <div class="border-bottom mb-3 container-fluid">
                <form action="" method="post">
                    {% csrf_token %} 
                    <input type="checkbox" hx-post="." class="m-1" name="{{ todo.pk }}" value="uncheck" checked/>
                    <input type="hidden" name="{{ todo.pk }}" value="uncheck"/>
                    <a href="{{ todo.get_absolute_url }}"> <s> {{ todo|capfirst }} </s></a> 
                </form>
                
                <div class="extra">
                    {% if todo.note != '' %}
                        <div class="info" id="note"> {{ todo.note|capfirst|truncatewords:12 }} </div>
                    {% endif %} 
                    <div class="icons mt-2">
                        <a class="" style="color: rgb(252, 125, 7);" href="{% url 'mytodo:edit-todo' todo.pk %}">
                            <i class="bi bi-pencil-square mx-2"></i></a> 
                        <a class="text-danger" href="{% url 'mytodo:delete-todo' todo.pk %}" hx-post="{% url 'mytodo:delete-todo' todo.pk %}"
                            hx-confirm="Delete this to-do?"> <i class="bi-trash mx-2"></i></a> 
                    </div>
                </div>
            </div>   
        {% endfor %}
    </div>
{% endif %}

{% if not completed_todos and not incomplete_todos %}
    <h3 class="info">You have no to-dos.</h3>
{% endif %}

{% endblock %}