{% extends 'mytodo/base.html' %}


{% block page_header %}
<h2> To-do </h2>
{% endblock %}


{% block content %}
<div class="mx-2">
    <div class="to-do">
        {% if todo.completed %} 
            <form action="" method="post">
                {% csrf_token %} 
                <input type="checkbox" hx-post="." class="m-1" name="{{ todo.pk }}" value="uncheck" checked/>
                <a> <s> {{ todo|capfirst }} </s></a> 
            </form> <br>
        {% else %}   
            <p> <input type="checkbox" class="m-1" hx-post="." name="{{ todo.pk }}" value="check" /> <a> {{ todo|capfirst }} </a> </p> <br>
        {% endif %}
    </div>
    
    {% if todo.note != '' %}
        <div class="info" id="note">
            <p> Note: {{ todo.note|capfirst }} </p>
        </div>
    {% endif %} 

    <span class="info" id="created"> Created: {{ todo.date_created|timesince }} ago </span> 
    
    <div class="options">
        <a class="edit p-2 mx-3" href="{% url 'mytodo:edit-todo' todo.pk %}">
            <i class="bi bi-pencil-square mx-2"></i></a>
        <a class="delete p-2 mx-3" href="{% url 'mytodo:delete-todo' todo.pk %}" hx-delete="{% url 'mytodo:delete-todo' todo.pk %}" 
            hx-confirm="Delete this to-do?"> <i class="bi-trash mx-2"></i> </a>
    </div>
</div>
{% endblock %}

