{% extends 'mytodo\base.html' %}

{% block page_header %}
<h3> Uncompleted To-dos </h3> 
{% endblock %}


{% block content %}
<form action="" method="post">
    {% csrf_token %} 
    <input class='btn btn-success' type="submit" value="Refresh" name="refresh"/>
    <hr class="mb-4"/>
    {% for todos in todos %}
        <div class=" container border-bottom mb-4">
            <input type="checkbox" value="clicked" name="checked{{todos.pk}}" class="mr-2" />
            <a href="{{ todos.get_absolute_url }}" style="color: black;"> {{ todos}} </a>
            <span style="color:rgba(126, 105, 105, 0.774); font-size: 14px;"> - {{todos.date_created|timesince}} ago </span>
            <div style="margin-left:27px"> 
                {% if todos.note != None %}
                    <div style="color:rgb(126, 105, 105); font-size:15px"> Note: {{ todos.note|truncatewords:12 }} </div>
                {% endif %}
                <div>
                    <a class="fa fa-pencil-square-o" style="color: rgba(252, 125, 7, 0.753);" href="{% url 'mytodo:edit-todo' todos.pk %}"> </a> 
                    <a class="material-icons" style="color:red;" href="{% url 'mytodo:delete-todo' todos.pk %}"> delete </a>
                </div>
            </div>  
        </div>
    {% endfor %}
</form>
<div class="pagination">
    <span class="step-links">
        {% if todos.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ todos.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
            Page {{ todos.number }} of {{ todos.paginator.num_pages }}.
        </span>
        {% if todos.has_next %}
            <a href="?page={{ todos.next_page_number }}">Next</a>
            <a href="?page={{ todos.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}
